
#cases {
    
	font-size:12pt;
	border:1px solid black;
	float:left;
	width:40%;


}
#XMLholder  {
	height:75%;
	background-color:#b0c4de;
	overflow:scroll;

}
#entry {
	cursor:hand;
	cursor:pointer;
}
#rightside{

margin-left:auto;
	float:right;
	width:59%;

}
#Operations{
	float:left;
	float:bottom;
	border:1px solid black;
}

.evidence .dir{
list-style: square url("http://www.webbossuk.com/admin/images/reply-arrow.png");
}
#metadata{
	float:top;
	}
#functions{
	float:bottom;
	}
